{% extends '@admin/layout.twig' %}

{% block title "Créer l'article" %}

{% block body %}

<h1>Créer l'article</h1>

<form action="{{ path('blog_admin_create') }}" method="post">
    {% include '@blog/admin/posts/_form.twig' %}
    <button class="btn btn-primary" type="submit">Créer</button>
</form>

{% endblock %}