{% extends '@admin/layout.twig' %}

{% block title "Créer l'article" %}

{% block body %}

<h1>Créer l'article</h1>

<div class="container">

    <form action="{{ path(routePrefix ~ '_create') }}" method="post" enctype="multipart/form-data">
        {% include viewPath ~ '/_form.twig' %}
        <button class="btn btn-primary" type="submit">Créer</button>
    </form>
</div>

{% endblock %}