{% extends "layout.twig" %}

{% block body %}

<section class="container-produit p-t">
    <h1 class="rdv--title">INFORMATIONS PERSONNELLES</h1>
    <div class="block-rdv">
        <form action="" method="post" class="ui form">
            {{ csrf_input() }}
            {{ field('email', null, 'Email', {type: 'email'}) }}
            <button class="ui submit button">Réinitialiser mon mot de passe</button>
        </form>
    </div>
</section>
{% endblock %}