{% extends '@admin/layout.twig' %}

{% block title "Editer les produits" %}

{% block body %}

<h1>Ajouter un produit</h1>

<form action="{{ path(routePrefix ~ '_create') }}" method="post" enctype="multipart/form-data" class="ui form">
    {% include viewPath ~ '/form.twig' %}
    <button class="btn btn-primary" type="submit">Ajouter</button>
</form>

{% endblock %}