{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}

  <h1>salut</h1>
  <ul>
    <li><a href="{{ path('blog_show', {slug: 'azeaaze'}) }}">salut</a></li>
    <li>salut</li>
    <li>salut</li>
    <li>salut</li>
    <li>salut</li>
  </ul>

{% endblock %}