{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}

	<h1>salut</h1>
	<ul>
		{% for post in posts %}
			<li>
        <a href="{{ path('blog_show', {slug: post.slug, id: post.id}) }}">{{post.name}}</a>
        <div>
          {{post.created_at.format('Y-m-d H:i:s')}}
        </div>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
